header {
  background-color: #019ac9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

#bars {
  display: none;
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
}
body {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 5px 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 25px;
}

nav a:hover {
  border: 3px solid white;
  border-radius: 10px;
  padding: 5px;
  transition: 0.2s;
}

.banner {
  background-image: url(https://ik.imagekit.io/tvlk/image/imageResource/2018/04/11/1523419168818-f3a97954aa313a79c56a7d0058e2cdef.svg);
  background-size: cover;
  background-position: top;
  height: 800px;
  width: 100%;
  /* text-align: center; */
  font-size: 50px;
  font-weight: bolder;
  color: rgb(137, 34, 146);
  font-family: Ubuntu;
}

.title {
  color: rgb(7, 7, 7);
  background-color: rgba(240, 238, 238, 0.486);
  /* background-size: cover;
  background-position: bottom; */

  /* text-align: center;
  display: flex;

  align-items: center;

  justify-content: center; */
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  height: 400px;
  width: 400px;
  margin-top: 60px;
  margin-left: 10%;
}

footer {
  margin-top: 5%;
  color: white;
  background-color: black;
  text-align: center;
}

.container {
  margin-top: 5%;
  margin-left: 5%;
}

.blog {
  display: flex;
  margin: 50px 10px;
}

.box {
  background-color: rgba(207, 201, 201, 0.404);
  width: 100%;
  border-radius: 10px;
  height: 30%;
}

.content {
  width: 100%;
  text-align: justify;
  vertical-align: baseline;
  margin: 10px;
  margin-left: 10px;
  padding: 20px 0px;
  font-family: monospace;
  font-weight: bolder;
  font-size: larger;
}

.blog1 {
  display: flex;
  flex-direction: row-reverse;
  margin: 50px 10px;
}

.box1 {
  background-color: rgba(207, 201, 201, 0.404);
  width: 100%;
  border-radius: 10px;
  height: 30%;
}

.content1 {
  width: 100%;
  text-align: justify;
  vertical-align: baseline;
  margin: 10px;
  margin-left: 10px;
  padding: 20px 0px;
  font-family: monospace;
  font-weight: bolder;
  font-size: larger;
}

.blog2 {
  display: flex;
  /* flex-direction: row-reverse; */
  margin: 50px 10px;
}

.box2 {
  background-color: rgba(207, 201, 201, 0.404);
  width: 100%;
  border-radius: 10px;
  height: 30%;
}

.content2 {
  width: 100%;
  text-align: justify;
  vertical-align: baseline;
  margin: 10px;
  margin-left: 10px;
  padding: 20px 0px;
  font-family: monospace;
  font-weight: bolder;
  font-size: larger;
}

form {
  background-color: rgb(185, 170, 155);
  width: 90%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
/* 
h2 {
  margin-top: 10%;
} */

#myBtn {
  background-color: red;
  border-radius: 10px;
  padding: 5px;
  /* float: right; */
  margin-left: 45%;
}

.modal-content {
  background-color: #2b2222d0;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.fa-facebook {
  color: white;
  background-color: blue;
  padding: 10px;
  text-decoration: none;
  border-radius: 50px;
}

.fa-twitter {
  color: white;
  background-color: blue;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
}

.fa-youtube {
  color: white;
  background-color: red;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
}

.fa-instagram {
  color: white;
  background-color: yellowgreen;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
}
@media only screen and (max-width: 630px) {
  #bars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 80%; */
  }

  nav a {
    display: none;
  }
  .title {
    font-size: 30px;
    align-items: center;
  }
}
